body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.card-body {
    padding: 10px !important;
}

.cardText {
    margin-bottom: 5px !important;
}
.componentTitle,
.dText {
    color: #ff1d46;
}
.dText {
    font-weight: bold;
}
.moreLink:hover {
    cursor: pointer;
    color: #ff1d46;
}

.myTab {
    background: transparent;
}

.myTab p {
    color: #ff1d46;
}

.recommendCard:hover {
    cursor: pointer;
}
